<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title><%= app.appName %> | Confirmación de Email</title>
   <style type="text/css">
      a,a.link1,h1,p{color:#382F2E}h2,p{text-align:left;font-weight:400}div,h1,p,ul{margin:0}body{padding-top:0!important;padding-bottom:0!important;margin:0!important;width:100%!important;-webkit-text-size-adjust:100%!important;-ms-text-size-adjust:100%!important;-webkit-font-smoothing:antialiased!important}.tableContent img{border:0!important;display:block!important;outline:0!important}p{color:#999;font-size:14px;line-height:19px}a.link2{font-size:16px;text-decoration:none;color:#fff}h2{color:#222;font-size:19px}.bgBody{background:#ddd}.bgItem{background:#fff;box-shadow:0 2px 3px rgba(0,0,0,.3)}
      a.link2{padding: 16px 30px;text-decoration: none !important}
   </style>
   <script type="colorScheme" class="swatch active">
      {
         "name":"Default",
         "bgBody":"ffffff",
         "link":"382F2E",
         "color":"999999",
         "bgItem":"ffffff",
         "title":"222222"
      }
   </script>
</head>
<body paddingwidth="0" paddingheight="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style='font-family: Helvetica, Arial,serif;'>
      <tr><td height='35'></td></tr>
      <tr>
         <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class='bgItem'>
               <tr>
                  <td width='40'></td>
                  <td width='520'>
                     <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                        <!-- =============================== Header ====================================== -->
                        <tr><td height='75'></td></tr>
                        <!-- =============================== Body ====================================== -->
                        <tr>
                           <td class='movableContentContainer' valign='top'>
                              <div lass='movableContent'>
                                 <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tr>
                                       <td valign='top' align='center'>
                                          <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable">
                                                <img src="<%- app.url %>/img/template-logo.png">
                                             </div>
                                          </div>
                                       </td>
                                    </tr>
                                 </table>
                              </div>

                              <div class='movableContent'>
                                 <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tr><td height='55'></td></tr>
                                    <tr>
                                       <td align='left'>
                                          <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable" align='center'>
                                                <h2>Reestrablecer contraseña de <%= user %></h2>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>

                                    <tr><td height='15'> </td></tr>

                                    <tr>
                                       <td align='left'>
                                          <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable" align='center'>
                                                <p style='text-align: left; color: #999999; font-size: 14px; font-weight: normal; line-height: 19px;'>
                                                   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                   <br><br><br>
                                                   Saludos,
                                                   <br>
                                                   <span style='color:#222222;'>Equipo de <%= app.appName %></span>
                                                </p>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>

                                    <tr><td height='55'></td></tr>

                                    <tr>
                                       <td align='center'>
                                          <table>
                                             <tr>
                                                <td align='center' bgcolor='#289CDC' style='background:#289CDC; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                                   <div class="contentEditableContainer contentTextEditable">
                                                      <div class="contentEditable" align='center'>
                                                         <a target='_blank' href='<%= app.url %>/user/reset/<%= token %>' class='link2' style='color:#ffffff;'>
                                                            Establecer nueva contraseña
                                                         </a>
                                                      </div>
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr><td height='20'></td></tr>
                                 </table>
                              </div>

                              <div lass='movableContent'>
                                 <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tr><td height='65'></td></tr>
                                    <tr><td  style='border-bottom:1px solid #DDDDDD;'></td></tr>

                                    <tr><td height='25'></td></tr>

                                    <tr>
                                       <td>
                                          <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                                             <tr>
                                                <td valign='top' align='left' width='370'>
                                                   <div class="contentEditableContainer contentTextEditable">
                                                      <div class="contentEditable" align='center'>
                                                         <p style='text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;'>
                                                            <span style='font-weight:bold;'><%= app.name %></span>
                                                            <br>
                                                            LOREM IPSUM DOLOR IST AMET
                                                            <br>
                                                            LOREM IPSUM DOLOR IST AMET
                                                         </p>
                                                      </div>
                                                   </div>
                                                </td>

                                                <td width='30'></td>

                                                <td valign='top' width='52'>
                                                   <div class="contentEditableContainer contentFacebookEditable">
                                                      <div class="contentEditable">
                                                         <a target='_blank' href="#"><img src='<%- app.url %>/img/email/facebook.png' width='52' height='53' alt='facebook icon' data-default="placeholder" data-max-width="52" data-customIcon="true"></a>
                                                      </div>
                                                   </div>
                                                </td>

                                                <td width='16'></td>

                                                <td valign='top' width='52'>
                                                   <div class="contentEditableContainer contentTwitterEditable">
                                                      <div class="contentEditable">
                                                         <a target='_blank' href="#">
                                                            <img src='<%- app.url %>/img/email/twitter.png' width='52' height='53' alt='twitter icon' data-default="placeholder" data-max-width="52" data-customIcon="true">
                                                         </a>
                                                      </div>
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <!-- =============================== footer ====================================== -->
                        <tr><td height='75'></td></tr>
                     </table>
                  </td>
                  <td width='40'></td>
               </tr>
            </table>
         </td>
      </tr>
      <tr><td height='88'></td></tr>
   </table>
</body>
</html>